<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    NewDish

    <form action="/dishForm" method="POST">
      title: <input type="text" name="title" placeholder="title" /><br />
      category:
      <select name="category" id="">
        <% categories.forEach((categoryObj)=>{ %>
        <option value="<%= categoryObj.id%>"> <%= categoryObj.name %></option>
        <% }) %>
      </select>
      <br />
      description:<input
        type="text"
        name="description"
        placeholder="description"
      /><br />
      price: <input type="text" name="price" placeholder="price" /><br />
      imageURL:
      <input type="text" name="imageURL" placeholder="imageURL" /><br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
